h1
{color: red; border-left: 6px solide blue; background-color: lightgrey;}
h2
{border:2px solid Violet;}
p
{border-style: double; border-color: green;}
body
{background-img: url("https://4.bp.blogspot.com/-RPEElZVFCn8/WdjgpGuINHI/AAAAAAAAVpc/2QGW80J_eRAX7e2aN7kXEu1zPb_2AgmvwCLcBGAs/s400/4k-2018-%25D8%25AE%25D9%2584%25D9%2581%25D9%258A%25D8%25A7%25D8%25AA-30.jpg");ackground-repeat: repeat-x; }
